a(name= "skills")
section.skills
  .flex.flex--center 
    .col-1
      h4 skills
    .col-50
      table
        tr
          th Language
          th 
        
        tr.data 
          td Swift
          td.stars ★★★★★
          
        tr.data 
          td Objective-C
          td.stars ★★★★
          
        tr.data 
          td Java(Android)
          td.stars ★★★
          
        tr.data
          td C
          td.stars ★★★
        
        tr.data
          td Javascirpt
          td.stars ★★★
        
        tr.data
          td Python
          td.stars ★★★★
          
        tr.data 
          td HTML(Jade)
          td.stars ★★★★
          
        tr.data
          td CSS(SASS)
          td.stars ★★★★
          
        tr.data
          td SQL
          td.stars ★★
          
    .col-50
      table
        tr
          th Tools
          th 
        
        tr.data
          td Git
          td.stars ★★★★★
          
        tr.data
          td XCode
          td.stars ★★★★★
          
        tr.data
          td Firebase
          td.stars ★★★★★
          
        tr.data
          td Stripe
          td.stars ★★★
        
        tr.data
          td CocoaPods
          td.stars ★★★★★
          
        tr.data
          td Photoshop
          td.stars ★★★
          
        tr.data
          td Adobe XD
          td.stars ★★★★
          
        tr.data
          td Sketch
          td.stars ★★★

        tr.data
          td Android Studio
          td.stars ★★★
