a(name= "education")
section.education
  .flex.flex--center 
    .col-50
      <a href="https://carleton.ca/scs/">
      h3 Bachelor of Computer Science Mobile Development Stream with Honours
      </a>
      h5 Ottawa, Canada
      h4 Expected graduation date: December 2018
      h4.bottom Received an entrance scholarship
    .col-1.order-first
      img(src='assets/img/logo-carleton.png')
