a(name= "about")
section.about
  .flex.flex--space-around
    .col-1
      h4 about
    .col-1
      p.home-lead Name:
      p.info Mathieu Schmid
      p.home-lead Age:
      p.info 20 years
      p.home-lead Location:
      p.info Ottawa, Canada
    .col-1
      img(src='assets/img/icon-ms.png')
    .col-1
      p.par Computer science student with a strong passion for all things iOS and web development. Currently working at Clearwater Clinical as an iOS and QA developer.
