a(name= "about")
section.about
  .flex.flex--space-around
    .col-1
      h4 about
    .col-1
      p.home-lead Name:
      p.info Mathieu Schmid
      p.home-lead Age:
      p.info 20 years
      p.home-lead Location:
      p.info Ottawa, Canada
    .col-1
      img(src='assets/img/icon-ms.png')
    .col-1
      p.par I’m a computer science student with a strong interest in web and mobile application development. I have strong understanding of numerous data structures and algorithms and their run times. I have an incredible passion for technology and am a strong team player.
