a(name= "contact")
section.contact
  .flex.flex--center
    .col-2
      h2 CONTACT
      h4 "Life without knowledge is death in disguise"
      h5 -Talib Kweli
      a(href= "assets/img/Resume2017Schmid.pdf").home-res View my resume
      a(href= "https://www.linkedin.com/in/matschmid").home-link Visit me on LinkedIn
      a(href= "https://github.com/schmidyy/ProjectMat").home-cta View this project on github
