a(name= "about")
section.about
  .flex.flex--space-around
    .col-1
      h4 about
    .col-1
      p.home-lead Name:
      p.info Mathieu Schmid
      p.home-lead Age:
      p.info 21 years
      p.home-lead Location:
      p.info Ottawa, Canada
    .col-1
      img(src='assets/img/icon-ms.png')
    .col-1
      p.par Carleton University 4th year student in the Mobile Development stream of Computer Science. Passionate about bringing visions to life using iOS development.
