a(name= "contact")
section.contact
  .flex.flex--center
    .col-2
      h2 CONTACT
      h4 "Life without knowledge is death in disguise"
      h5 -Talib Kweli
      
      .testalign
        <a href= "https://www.linkedin.com/in/matschmid">
        img.linked(src='assets/img/logo-linkedin.png')
        p.linked https://www.linkedin.com/in/matschmid
        </a>
      
      <a href= "https://www.github.com/schmidyy">
      img.git(src='assets/img/logo-github.png')
      p.git https://www.github.com/schmidyy
      </a>
      
      img.email(src='assets/img/logo-email.png')
      p.email matschmidy@gmail.com
      
      a(href= "https://github.com/schmidyy/ProjectMat").home-cta View this project on github
