a(name= "skills")
section.skills
  .flex.flex--center 
    .col-1
      h4 skills
    .col-50
      table
        tr
          th Language
          th 
        
        tr.data 
          td Python
          td.stars ★★★★★
          
        tr.data 
          td C
          td.stars ★★★★
          
        tr.data 
          td C++
          td.stars ★★★
          
        tr.data
          td Java
          td.stars ★★★★
          
        tr.data
          td Javascirpt
          td.stars ★★★★
        
        tr.data
          td Swift
          td.stars ★★
          
        tr.data 
          td HTML(Jade)
          td.stars ★★★★★
          
        tr.data
          td CSS(SASS)
          td.stars ★★★★
          
        tr.data
          td MongoDB
          td.stars ★★
          
    .col-50
      table
        tr
          th Tools
          th 
        
        tr.data
          td Ubuntu(2 years)
          td.stars ★★★★★
          
        tr.data
          td Mac(4 years)
          td.stars ★★★★★
          
        tr.data
          td Slack(2 years)
          td.stars ★★★★
          
        tr.data
          td Atom(3 years)
          td.stars ★★★★
          
        tr.data
          td VIM(1 year)
          td.stars ★★
        
        tr.data
          td Github(1 year)
          td.stars ★★★★
          
        tr.data
          td Photoshop(3 years)
          td.stars ★★★
          
        tr.data
          td Illustrator(1 year)
          td.stars ★★
          
        tr.data
          td SolidWorks(1 year)
          td.stars ★★★
