.home-wrap
  display: flex
  min-height: 100vh

  @media (max-width: 500px)
    display: block

.home-sections
  flex: 1

  section
    padding: 10px 0


  // FLEX ZONES
  .flex
    display: flex
    flex-direction: rows

  .flex--center
    justify-content: center
    max-width: 750px
    max-height: 300px
    margin: auto


  .flex--space-around
    justify-content: space-around
    max-width: 750px
    margin: auto
    max-height: 300px

  .order-first
    order: -1



.col-1
  max-width: 150px
  margin: 0 10px

.col-2
  max-width: 620px
  margin: 0 10px

.col-50
  width: 60%

@media (max-width: 750px)
  .home-sections .flex
    display: block

  .home-sections .flex--space-around
    max-height: none

  .home-sections .flex--center
    max-height: none

  .home-sections .order-first
    width: 30%
    margin-left: 35%
    margin-top: -90px

  .col-1
    max-width: 100%

  .col-50
    width: auto
