section.education
  background: #f2efe3

  img
    position: relative
    top: -40px
    right: 60px
    transform: scale(0.75)
      width: 100px

  h3, h4, h5, h4.bottom
    color: #333333


  h3
    position: relative
    left: 45px
    text:
      shadow: 2px 1px grey

  h4
    position: relative
    left: 45px
    top: -15px

  h4.bottom
    position: relative
    left: 45px
    top: -35px

  h5
    position: relative
    top: -25px
    left: 45px
    font:
      size: 18px

  @media (max-width: 750px)
    text-align: center
    h3, h4, h5, h4.bottom
      line-height: 1
      //text-align: center
      position: relative
      left: 0px

    img
      position: relative
      margin-left: auto
      margin-right: auto
      position: relative
      left: auto
      top: auto
