section.contact
  background: #65c4ab
  opacity: 76%


  h2
    color: white
    text-align: center
    font:
      size: 48px

    position: relative
    top: -30px
    //left: 135px
    margin-bottom: 0px

  h4
    color: white
    text-align: center
    font:
      size: 22px
      style: italic
      weight: 400

    position: relative
    top: -65px
    //left: 135px

  h5
    color: white
    text-align: center
    font:
      size: 18px
      style: italic
      weight: 400

    position: relative
    top: -95px

  @media (max-width: 750px)
    h2, h4, h5
      left: 95px

  @media (max-width: 375px)
    h2, h4, h5
      left: 18%
